.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#1e3a8a;
color:white;
}

.nav-links a{
margin-left:20px;
color:white;
text-decoration:none;
font-weight:500;
}

.nav-links a:hover{
opacity:0.8;
}

/* Mobile */

@media(max-width:768px){

.navbar{
flex-direction:column;
gap:10px;
}

}