.navbar {
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  color: #fdfdfd;
  position: sticky;
  top: 0;
  z-index: 50;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.brand {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}


.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links li a {
  color: #fdfdfd;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-links li a:hover {
  color: #0a0672;
}


.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #fdfdfd;
  transition: all 0.3s ease;
}

.rotate1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.rotate2 {
  transform: rotate(-45deg) translate(6px, -6px);
}

.fade {
  opacity: 0;
}


@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    flex-direction: column;
    padding: 1rem 0;
    text-align: center;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}