.student-dashboard{
padding:40px;
}

.dashboard-cards{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
margin-top:30px;
}

.card{
padding:40px;
background:#1e3a8a;
color:white;
border-radius:10px;
text-align:center;
cursor:pointer;
}

/* Tablet */

@media(max-width:900px){

.dashboard-cards{
grid-template-columns:repeat(2,1fr);
}

}

/* Mobile */

@media(max-width:600px){

.dashboard-cards{
grid-template-columns:1fr;
}

}